:root {
  --dark: #423e37;
  --mid: #e3b23c;
  --light: #edebd7;
}

body {
  background: whitesmoke;
  font-family: 'Cutive Mono', monospace;
  color: var(--light);
}

h1 {
  color: var(--dark);
  font-weight: 400;
  width: 25vw;
  margin: 0 auto;
  margin-right: 22%;
  padding: 2rem;
  text-align: right;
}

input,
select {
  height: 2.5rem;
  background: #423e37;
  color: #edebd7;
  font-family: 'Cutive Mono', monospace;
}

button {
  background: #423e37;
  color: #edebd7;
  height: 3rem;
  width: 25%;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.3rem;
  margin: 0 auto;
  margin-top: 10px;
  border: 0.5px solid #edebd7;
  font-family: 'Cutive Mono', monospace;
  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}

button:hover {
  background: var(--mid);
  color: #423e37;
}

.editBtn,
.delBtn {
  width: 4rem;
  height: 3rem;
  margin: 0;
}

.editBtn {
  background-color: rgb(0, 51, 0);
  font-family: 'Cutive Mono', monospace;
}

.delBtn {
  background-color: rgb(64, 0, 0);
  font-family: 'Cutive Mono', monospace;
}


.formHolder,
.bookHolder {
  margin: 0 auto;
  width: 50vw;
  min-width: 600px;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--dark);
  padding: 1rem;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.3);
}

.form {
  width: 35vw;
  min-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-weight: 400;
}

.bookHolder {
  margin-top: 1rem;
  background: #423e37;
}

table {
  width: 90%;
  min-width: 600px;
  background: #423e37;
  text-align: center;
  border-radius: 0.5rem;
  font-family: 'Cutive Mono', monospace;
}

th,
td {
  border: 1px dotted var(--light);
}